@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Kumbh+Sans:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.3;
}

img {
  display: block;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  overflow: hidden;
}

.nav-wrap .nav-links {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #68707d;
}

.nav-wrap .nav-links ul li {
  list-style-type: none;
  cursor: pointer;
}

.nav-wrap .nav-buttons {
  margin-left: auto;
}

.nav-wrap .nav-buttons .cart svg path {
  fill: #68707d;
}

.nav-wrap .cart {
  position: relative;
  cursor: pointer;
}

.nav-wrap .cart .cart-items {
  position: absolute;
  display: none;
  top: -8px;
  right: -10px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: white;
  padding: 0.125rem 0.425rem;
  border-radius: 0.5625rem;
  background: #ff7d1a;
}

.nav-wrap .cart .cart-items.show {
  display: block;
}

nav .cart-menu {
  width: 100vw;
  position: absolute;
  top: 4.75rem;
  right: 0;
}

nav .cart-menu .wrapper {
  width: 90vw;
  background: white;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

nav .cart-menu h3 {
  padding: 1.5rem 1.5rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  color: #14151A;
  border-bottom: 1px solid #E8E8EA;
}

nav .cart-menu .empty-cart {
  padding: 5rem 1.5rem;
}

nav .cart-menu .empty-cart p {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  color: #68707d;
}

nav .purchase-items {
  padding: 1.5rem;
  display: none;
}

nav .purchase-items .purchase-item-img img {
  max-width: 3.125rem;
  border-radius: 0.625rem;
}

nav .purchase-item-details {
  margin-bottom: 1.5rem;
}

nav .purchase-items .checkout-button {
  width: 100%;
}

nav .purchase-item-discription {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 2rem;
}

nav .purchase-item-name {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #68707d;
  margin-bottom: 0.4rem;
}

nav .purchase-item-price .current-price, nav .purchase-item-price .into, nav .purchase-item-price .number-of-items {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #68707d;
}

nav .purchase-amount {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  color: #14151A;
}

nav .remove-purchase-item {
  margin-left: auto;
}

nav .checkout-button button {
  width: 100%;
  border: none;
  border-radius: 0.6rem;
  background: #ff7d1a;
  padding: 1.125rem 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  color: white;
  cursor: pointer;
}

nav .checkout-button button:active {
  background: #f28a3b;
}

#discount {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #f28a3b;
  padding: 0.375rem 0.5rem;
  background: #ffede0;
  border-radius: 0.1875rem;
}

#originalPrice {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #b6bcc8;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.cart-buttons {
  width: 100%;
}

.cart-buttons button {
  height: 3.5rem;
  border: none;
  border-radius: 0.625rem;
}

#addToCartButton {
  background: #ff7d1a;
  -webkit-box-shadow: 0px 14px 35px -12px rgba(255, 125, 27, 0.6);
          box-shadow: 0px 14px 35px -12px rgba(255, 125, 27, 0.6);
  border-radius: 9px;
  color: white;
  cursor: pointer;
}

#addToCartButton svg {
  margin-right: 1rem;
}

#addToCartButton svg path {
  fill: white;
}

#addToCartButton p {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}

#addToCartButton:hover {
  background: #f28a3b;
}

#numberOfItem {
  background: #f7f8fd;
}

@media only screen and (min-width: 67.5625rem) {
  nav {
    padding: 1.75rem 10.3125rem 0 10.3125rem;
  }
  .nav-wrap {
    padding-bottom: 2rem;
    border-bottom: 1px solid #E8E8EA;
  }
  .nav-wrap .hamburger-menu {
    display: none;
  }
  .nav-wrap .nav-links {
    margin-left: 1.375rem;
  }
  .nav-wrap .nav-links ul li {
    margin-left: 2.125rem;
  }
  .nav-wrap .nav-links ul li:hover {
    color: #14151A;
  }
  .nav-wrap .nav-buttons .profile img {
    max-height: 3.125rem;
    width: auto;
    margin-left: 2.875rem;
  }
  .nav-wrap .nav-buttons {
    position: relative;
  }
  .nav-wrap .cart-menu {
    max-width: 23.4375rem;
    top: 4rem;
    right: 0;
  }
  .item-section {
    padding: 5.625rem 13.25rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 7.625rem;
            column-gap: 7.625rem;
  }
  .item-section .previous-button, .item-section .next-button {
    display: none;
  }
  .item-section .item-img {
    margin-bottom: 1.875rem;
  }
  .item-section .item-img img {
    width: 100%;
    height: auto;
    border-radius: 0.5625rem;
  }
  .item-section .thumbnail-item-img {
    width: 100%;
  }
  .item-section .thumbnail-item-img img {
    max-width: 5.5rem;
    height: auto;
    border-radius: 0.625rem;
  }
  #item-company {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #f28a3b;
    letter-spacing: 0.15rem;
  }
  #item-name {
    margin: 1.5rem 0 2.5rem 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    color: #14151A;
    line-height: 1.2;
  }
  #item-description {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #68707d;
  }
  .item-price {
    margin-top: 2.25rem;
  }
  .item-price #current-price {
    margin-bottom: 1.125rem;
  }
  .item-price #current-price h3 {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #14151A;
    margin-right: 1rem;
  }
  .item-price #originalPrice {
    margin-bottom: 2.5rem;
  }
  #numberOfItem {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #14151A;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 1rem;
  }
  #addToCartButton {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    color: white;
  }
  .item-section .item-img {
    overflow: hidden;
  }
  .secondary-carosel {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .secondary-carosel .item-carosel {
    max-width: 30vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondary-carosel .item-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  .secondary-carosel .item-img img {
    max-width: 100%;
    border-radius: 0.5625rem;
  }
  .secondary-carosel .container .img-wrapper {
    margin-left: 0.5rem;
  }
  .secondary-carosel .container .img-wrapper:first-child {
    margin: 0;
  }
  .secondary-carosel .previous-button, .secondary-carosel .next-button {
    position: absolute;
    top: 50%;
  }
  .secondary-carosel .thumbnail-item-img {
    max-width: 100%;
  }
  .secondary-carosel .thumbnail-item-img img {
    width: 5rem;
    margin-left: 0.5rem;
    border-radius: 0.625rem;
  }
  .secondary-carosel .thumbnail-item-img img:first-child {
    margin: 0;
  }
  .secondary-carosel .previous-button, .secondary-carosel .next-button {
    position: absolute;
    top: 40%;
    bottom: auto;
    height: 2.5rem;
    width: 2.5rem;
    background: white;
    cursor: pointer;
    border-radius: 100%;
    z-index: 2;
  }
  .secondary-carosel .previous-button {
    left: -1.3rem;
  }
  .secondary-carosel .next-button {
    right: -1.3rem;
  }
  .secondary-carosel .closeButton {
    position: absolute;
    top: -2rem;
    right: 0;
  }
  .secondary-carosel .closeButton svg {
    width: 1rem;
    height: auto;
    cursor: pointer;
  }
  .secondary-carosel .closeButton svg path {
    fill: white;
  }
  .secondary-carosel.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .secondary-carosel .item-img-carosel.item-img-carosel.transition {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.thumbnail-item-img .img-wrapper.click {
  border: 2px solid #ff7d1a;
  border-radius: 0.625rem;
}

.thumbnail-item-img img.click {
  opacity: 0.4;
}

.closeButton:hover svg path {
  fill: #ff7d1a;
}

@media only screen and (max-width: 67.5rem) {
  .secondary-carosel {
    display: none;
  }
  nav {
    padding: 1.5rem;
  }
  nav .hamburger-menu {
    margin-right: 1rem;
    cursor: pointer;
    z-index: 3;
  }
  nav .hamburger-menu .hamburger-bar {
    height: 0.1875rem;
    width: 1rem;
    background: #68707d;
    margin-bottom: 0.1875rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  nav .hamburger-menu .hamburger-bar:last-child {
    margin-bottom: 0;
  }
  nav .hamburger-bar:nth-child(2).close-menu {
    display: none;
  }
  nav .hamburger-bar:first-child.close-menu {
    -webkit-transform: rotate(45deg) translatex(4.5px);
            transform: rotate(45deg) translatex(4.5px);
  }
  nav .hamburger-bar:last-child.close-menu {
    -webkit-transform: rotate(-45deg) translatex(3.5px);
            transform: rotate(-45deg) translatex(3.5px);
  }
  nav .nav-links {
    position: fixed;
    top: 0;
    left: -150%;
    height: 100%;
    width: 70vw;
    padding: 6rem 1.5rem;
    background: white;
    z-index: 2;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav .nav-links.show {
    left: 0;
  }
  nav .nav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .nav-links ul li {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8125rem;
    color: #14151A;
    margin-bottom: 2rem;
  }
  nav .nav-links ul li:hover {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    font-size: 0.6875rem;
    color: #68707d;
  }
  nav .open-mobile-nav-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: black;
    opacity: 0.4;
    z-index: 2;
  }
  nav .open-mobile-nav-background.show {
    display: block;
  }
  nav .nav-buttons .profile img {
    max-width: 1.5rem;
    margin-left: 1.375rem;
  }
  .item-section .item-img img {
    max-width: 99.99vw;
  }
  .item-section .thumbnail-item-img {
    display: none;
  }
  .item-section .item-img {
    position: relative;
  }
  .item-section .previous-button, .item-section .next-button {
    position: absolute;
    top: 50%;
    bottom: auto;
    height: 2.5rem;
    width: 2.5rem;
    background: white;
    cursor: pointer;
    border-radius: 100%;
    z-index: 1;
  }
  .item-section .previous-button {
    left: 1rem;
  }
  .item-section .next-button {
    right: 1rem;
  }
  .item-section #item-company {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 0.6875rem;
    color: #f28a3b;
    letter-spacing: 0.1rem;
  }
  .item-section #item-name {
    width: 70vw;
    line-height: 1.15;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #14151A;
    margin: 1.25rem 0 1.625rem 0;
  }
  .item-section #item-description {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    color: #68707d;
  }
  .item-section .item-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0 1.625rem 0;
  }
  .item-section .item-price #originalPrice {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8125rem;
    color: #b6bcc8;
    margin-left: auto;
  }
  .item-section .item-price #discount {
    padding: 0.375rem initial;
    font-size: 0.8125rem;
  }
  .item-section .item-price #current-price h3 {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #14151A;
    margin-right: 1rem;
  }
  .item-section .item-details {
    padding: 1.5rem;
  }
  .item-section .cart-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
  .item-section .item-img-carosel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100vw;
  }
  .item-section .item-img-carosel.transition {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .item-section .item-img-carosel img {
    max-width: 100vw;
    max-height: inherit;
  }
}

#current-price h3:first-child {
  margin-right: 0 !important;
}
/*# sourceMappingURL=main.css.map */