//common css
//
//
.nav-wrap{
    .nav-links{
        @include font(400, $small, $dark-grayish-blue);
    }
    .nav-links ul li{
        list-style-type: none;
        margin-left: 2.125rem;
        cursor: pointer;
    }
}
// for item-section 
#item-company{
    @include font(700,$small,$orange);
}
#item-name{
    @include font(700,$large,$very-dark-blue);
    line-height: 1.2;
}
#item-description{
    @include font(500,$small,$dark-grayish-blue)
}
.item-price{
    #current-price h3{
        @include font(700,1.5rem,$very-dark-blue);
    }
}
#discount{
    @include font(500,$small,$orange);
    padding: 0.375rem 0.5rem;
    background: $pale-orange;
    border-radius: 0.1875rem;
}
#originalPrice{
    @include font(700,$small,$grayish-blue);
    text-decoration-line: line-through;
}
//for desktop
//
//
@media only screen and (min-width: 67.5625rem){
    nav{
        padding: 1.75rem 10.3125rem 0 10.3125rem;
    }
    .nav-wrap{
        padding-bottom: 2rem;
        border-bottom: 1px solid $light-grayish-blue;
        .nav-links{
            margin-left: 1.375rem;
            //it is 3.5 but li already has 2.125 from below so i divided it
        }
        .nav-links ul li{
            margin-left: 2.125rem;
        }
        .nav-buttons{
            margin-left: auto;
        }
        .nav-buttons .profile img{
            max-height: 3.125rem;
            width: auto;
            margin-left: 2.875rem;
        }
    }
    .item-section{
        padding: 5.625rem 13.25rem;
        .item-carasole{
            margin-right: 8rem;
        }
        .item-img{
            margin-bottom: 1.875rem;
        }
        .item-img img{
            max-width: 27.625rem;
            height: auto;
            border-radius: 0.5625rem;
        }
        .thumbnail-item-img{
            max-width: 27.625rem;
        }
        .thumbnail-item-img img{
            max-width: 5.5rem;
            height: auto;
            border-radius: 0.625rem;
        }
    }
    #item-name{
        margin: 1.5rem 0 2.5rem 0;
    }
    .item-price{
        margin-top:2.25rem;
        #current-price{
            margin-bottom: 1.125rem
        }
        #current-price h3{
            margin-right: 1rem;
        }
    }


}

//for mobile
//
//

@media only screen and (max-width: 67.5rem){

}