//common css
//
//
header{
    overflow: hidden;
   
}
.nav-wrap{
    .nav-links{
        @include font(400, $small, $dark-grayish-blue);
    }
    .nav-links ul li{
        list-style-type: none;
        cursor: pointer;
    }
    .nav-buttons{
        margin-left: auto;
    }
    .nav-buttons .cart svg path{
        fill: $dark-grayish-blue;
    }
}
// for item-section 

#discount{
    @include font(700,$small,$dark-orange);
    padding: 0.375rem 0.5rem;
    background: $pale-orange;
    border-radius: 0.1875rem;
}
#originalPrice{
    @include font(700,$small,$grayish-blue);
    text-decoration-line: line-through;
}
.cart-buttons{
    width: 100%;
    button{
        height: 3.5rem;
        border: none;
        border-radius: 0.625rem;
    }
}
#addToCartButton{
    background: $orange;
    box-shadow: 0px 14px 35px -12px rgba(255, 125, 27, 0.6);
    border-radius: 9px;
    color: white;
    svg{
        margin-right: 1rem;
        
    }
    svg path{
        fill: white;
    }
    p{
        @include font(700,$small,white)
    }

}
#numberOfItem{
    background: $very-light-grayish-blue;
}

//for desktop
//
//
@media only screen and (min-width: 67.5625rem){
    nav{
        padding: 1.75rem 10.3125rem 0 10.3125rem;
    }
    .nav-wrap{
        padding-bottom: 2rem;
        border-bottom: 1px solid $light-grayish-blue;
        .hamburger-menu{
            display: none;
        }
        .nav-links{
            margin-left: 1.375rem;
            //it is 3.5 but li already has 2.125 from below so i divided it
        }
        .nav-links ul li{
            margin-left: 2.125rem;
        }
        .nav-buttons .profile img{
            max-height: 3.125rem;
            width: auto;
            margin-left: 2.875rem;
        }
    }
    .item-section{
        padding: 5.625rem 13.25rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 7.625rem;
        // .item-carasole{
        //     // margin-right: 8rem;
        // }
        .previous-button,.next-button{
            display: none;
        }
        .item-img{
            margin-bottom: 1.875rem;
        }
        .item-img img{
            width: 100%;
            height: auto;
            border-radius: 0.5625rem;
        }
        .thumbnail-item-img{
            width: 100%;
        }
        .thumbnail-item-img img{
            max-width: 5.5rem;
            height: auto;
            border-radius: 0.625rem;
        }
    }
    #item-company{
        @include font(700,$small,$dark-orange);
        letter-spacing: 0.15rem;
    }
    #item-name{
        margin: 1.5rem 0 2.5rem 0;
        @include font(700,$large,$very-dark-blue);
        line-height: 1.2;
    }
    #item-description{
        @include font(500,$small,$dark-grayish-blue);
    }
    .item-price{
        margin-top:2.25rem;
        #current-price{
            margin-bottom: 1.125rem
        }
        #current-price h3{
            @include font(700,1.5rem,$very-dark-blue);
            margin-right: 1rem;
        }
        #originalPrice{
            margin-bottom: 2.5rem;
        }
    }
    #numberOfItem{
        @include font(700,$small,$very-dark-blue);
        flex-grow: 1;
        margin-right: 1rem;
    }
    #addToCartButton{
        flex-grow: 2;
        color: white;
    }

    //desktop carosel
    .desktop-carosel{
        position: fixed;
        top: 0;
        left: 0;
        .item-img-carosel{
            max-width: 40vw;
        }
        .item-img-carosel img{
            max-width: 100%;
        }
    }

    //for desktop functionalities

    .item-section{
        .item-img{
            overflow: hidden;
        }
    }
    


}

//for mobile
//
//

@media only screen and (max-width: 67.5rem){
    //for mobile nav bar
    nav{
        padding: 1.5rem;
        .hamburger-menu{
            margin-right: 1rem;
            cursor: pointer;
            z-index: 3;
        }
        .hamburger-menu .hamburger-bar{
            height: 0.1875rem;
            width: 1rem;
            background: $dark-grayish-blue;
            margin-bottom: 0.1875rem;
            transition: all 0.5s ease;
        }
        .hamburger-menu .hamburger-bar:last-child{
            margin-bottom: 0;
        }
        .hamburger-bar:nth-child(2).close-menu{
            display: none;
        }
        .hamburger-bar:first-child.close-menu{
            transform: rotate(45deg) translatex(4.5px);
        }
        .hamburger-bar:last-child.close-menu{
            transform:  rotate(-45deg) translatex(3.5px);
        }
        .nav-links{
            position: fixed;
            top: 0;
            left: -150%;
            height: 100%;
            width: 70vw;
            padding: 6rem 1.5rem;
            background: white;
            z-index: 2;
            transition: all 0.3s ease;
        }
        .nav-links.show{
            left: 0;
        }
        .nav-links ul{
            flex-direction: column;
        }
        .nav-links ul li{
            @include font(700,$medium-mobile,$very-dark-blue);
            margin-bottom: 2rem;
        }
        .open-mobile-nav-background{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100vw;
            background: black;
            opacity: 0.4;
            z-index: 2;
        }
        .open-mobile-nav-background.show{
            display: block;
        }
        .nav-buttons .profile img{
            max-width: 1.5rem;
            margin-left: 1.375rem;
        }

    }
    //for mobile item section
    .item-section{
        .item-img img{
            max-width: 99.99vw;
        }
        .thumbnail-item-img{
            display: none;
        }
        .item-img{
            position: relative;
        }
        .previous-button, .next-button{
            position: absolute;
            top: 50%;
            bottom: auto;
            height: 2.5rem;
            width: 2.5rem;
            background: white;
            cursor: pointer;
            border-radius: 100%;
            z-index: 1;
        }
        .previous-button{
            left: 1rem;
        }
        .next-button{
            right: 1rem;
        }
        //for item details section
        #item-company{
            @include font(700,$smallest-mobile,$dark-orange);
            letter-spacing: 0.1rem;
        }
        #item-name{
            width: 70vw;
            line-height: 1.15;
            @include font(700, $largest-mobile, $very-dark-blue);
            margin: 1.25rem 0 1.625rem 0;
        }
        #item-description{
            @include font(500,$medium-mobile,$dark-grayish-blue)
        }
        .item-price{
            display: flex;
            align-items: center;
            margin: 2rem 0 1.625rem 0;
            #originalPrice{
                @include font(700,$medium-mobile,$grayish-blue);
                margin-left: auto;
            }
            #discount{
                padding: 0.375rem initial;
                font-size: $medium-mobile;
            }
            #current-price h3{
                @include font(700,$largest-mobile,$very-dark-blue);
                margin-right: 1rem;
            }
        }
        .item-details{
            padding: 1.5rem;
        }
        .cart-buttons{
            flex-direction: column;
            row-gap: 1rem;
        }
    }

    //this are the basic css for layout now here are css for functional things note that nav is done above here are css for carosel etc
    .item-section{
        // overflow: hidden;
        .item-img-carosel {
            display: flex;
            // height: 100%;
            // transition 
            max-width: 100vw;
        }
        .item-img-carosel.transition{
            transition: all 0.4s ease-in-out;
        }
        .item-img-carosel img{
            max-width: 100vw;
            max-height: inherit;
        }
    }
    

}




